<div class="post-head">
    <div class="post-info">
        <div class="tag-list">
            <% if (page.tags && page.tags.data && page.tags.data.length > 0) {%>
                <% page.tags.data.forEach(function(tag) { %>
                    <span class="post-tag">
                        <a href="<%-url_for(tag.path)%>">
                            <%=tag.name%>
                        </a>
                    </span>    
                <% }) %>           
            <% } %>
        </div>
        <div class="post-title">
            
            <% if (page.title) {%>
                <%= page.title %>
                <% if (page.CD) {%>
                    <i class="uil uil-music"></i>
                <% } else if (page.issue) {%>
                    <i class="uil uil-book-open"></i>
                <% } %>    
            <% } else {%>
                *Untitled
            <% } %>
            
        </div>
        <% for (var event in site.data.events) { %>
            <% if (site.data.events[event].name == page.event) { %>
                <div class="mobi-wrapper">
                    <p><strong><%= page.focus %>「<a href="/categories/<%- site.data.events[event].slug %>"><%- page.event %></a>」card story <i class="uil uil-heart-rate"></i></strong> <%= page.excerpt %>
                </div>
            <% } %>
        <% } %>
        <span class="post-date">
            <%- date(page.date, theme.date_format) %>
        </span>
    </div>
    <div class="post-img">
        <% if (page.event) {%>
            <%- partial('tls/story-post') %> 
        <% } %>
        <div class="h-line-primary"></div>    
    </div>
</div>